sphinx~=9.1.0

# pydata-sphinx-theme==0.16.1
sphinx-book-theme~=1.1.4
# # pydata-sphinx-theme~=0.15.4
myst-parser~=5.0.0 
sphinx-favicon~=1.0.1
sphinx-tabs~=3.4.7
sphinx_design~=0.7.0
sphinx-togglebutton~=0.4.4
setuptools_scm~=9.2.2  # for the git versioning
