.bd-page-width {
  max-width: max(88rem, 95vw);
}
aside.sidebar {
  overflow-x: visible;
  padding-right: 2vw;
}
aside.sidebar > ul {
  padding-left: 2vw;
}

div.margin {
    width: 14vw;
    margin-right: -15vw;
    margin-left: 1vw;
}

.admonition-title {
  padding-left: 2em !important;
}

#rescaled-text {
    font-size: max(1vh, 0.6vw) !important;
}
#rescaled-text h1 {
    margin: 1.5vh 0 0.5vh 0 !important;
    font-size: max(2vh, 1.2vw) !important;
}
#rescaled-text h2 {
    margin: 1vh 0 0.5vh 0 !important;
    font-size: max(1.5vh, 0.9vw) !important;
}
